.data {
    margin-top: 30px;
    border: 1px solid black;
    border-collapse: collapse;
    width: 90%;
    height: 80%;
}

.data td {
    align-content: center;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    


}

.data th {
    align-content: center;
    border: 1px solid black;
    border-collapse: collapse;
}

.data tr {
    
    border: 1px solid black;
    border-collapse: collapse;
}

.table_container {
    background-color: green;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}